<nav class="navbar navbar-expand-lg navbar-light bg-light text-primary ">
    <div class="container">
      <a class="navbar-brand text-primary" href="/">Inventory App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Dashbord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/addressload">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">GRN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Invoice</a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="/users">User</a>
            </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">
                <form  class="form-inline" action="/logout?_method=DELETE" method="post">
                  <input type="submit" class="btn btn-link" value="logout"></input>
                </form>
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  